<div class="d-flex">
  <div class="bg-light p-3" style="width: 200px; height: 100vh;">
    <h5>Menu</h5>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a href="dashboard.html" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item">
        <a href="manager-kpi.html" class="nav-link">KPI Management</a>
      </li>
      <li class="nav-item">
        <a href="staff-kpi.html" class="nav-link">My KPI</a>
      </li>
      <li class="nav-item">
        <a href="profile.html" class="nav-link">Profile</a>
      </li>
    </ul>
  </div>

  <div class="p-4" style="flex: 1;">
    <!-- Page Content Here -->
  </div>
</div>
