<div id="sidebar-wrapper">
  <div class="sidebar-heading">KPI Pro</div>
  
  <div class="list-group list-group-flush">

    <a href="dashboard.html" class="list-group-item list-group-item-action">
      Dashboard
    </a>

    <a href="kpi-form.html" class="list-group-item list-group-item-action">
      KPI Form
    </a>

    <a href="kpi-verify.html" class="list-group-item list-group-item-action">
      KPI Verify
    </a>

    <a href="manager-kpi.html" class="list-group-item list-group-item-action">
      Manager KPI
    </a>

    <a href="staff-kpi.html" class="list-group-item list-group-item-action">
      Staff KPI
    </a>

    <a href="profile.html" class="list-group-item list-group-item-action">
      Profile
    </a>

    <a href="settings.html" class="list-group-item list-group-item-action">
      Settings
    </a>

    <a href="login.html" class="list-group-item list-group-item-action text-danger">
      Logout
    </a>

  </div>
</div>